.k-sim-content {
    width: 1815; 
    overflow: hidden; 
}
.k-sim-buttons {
    width: 1815px;
    overflow: hidden; 
}

.force-tick{
    float: left;
    margin-left: 10px;
    width: 10%
}

.k-sim-ctl {
    width: 300px;
    height:600px;
    float:left;  
} 

.k-sim-vis {
    width: 1800px;
    height: 600px;
    overflow-y: hidden;
    float: left;
}

.k-sim-ctx{
    width: 300px;
    height:600px;
    float:left;  
}
